.box_overview {
    position: relative;
    inset: 4rem 0 0 0;
    padding: 10px;
}

#overview_container {
    position: relative;
    inset: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

#overview_container .overview_chart {
    position: relative;
    width: 100%;
    padding: 10px;
    aspect-ratio: 16/9;
    border: 1px solid var(--color-black-pure-alpha-10);
    border-radius: 3px;
    box-shadow: -2px -2px 2px var(--color-white-1-alpha-10),
    2px 2px 2px var(--color-black-pure-alpha-10);
}

.overview_content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}

.item {
    width: 24.19%;
    padding: 20px 10px;
    text-align: center;
    border: 1px solid var(--color-black-pure-alpha-10);
    border-radius: 3px;
    box-shadow: -2px -2px 2px var(--color-white-1-alpha-10),
    2px 2px 2px var(--color-black-pure-alpha-10);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

@media (max-width: 950px) {
    .item {
        width: 32.56%;;
    }
}
@media (max-width: 890px) {
    .item {
        width: 49%;;
    }
}
@media (max-width: 520px) {
    .item {
        width: 48.8%;;
    }
}
@media (max-width: 440px) {
    .item {
        width: 47.8%;;
    }
}