:root {
    --color-white-1: #fff;
    --color-white-2: #f9f9f9;
    --color-white-3: #f1f1f1;
    --color-white-4: #e9e9e9;
    --color-black-1: #282828;
    --color-black-2: #1f1f1f;
    --color-black-3: #161616;
    --color-black-4: #0d0d0d;
    --color-black-pure: #000;
    --color-grey-1: #ccc;
    --color-grey-2: #aaa;
    --color-grey-3: #909090;
    --color-grey-4: #717171;
    --color-grey-5: #606060;
    --color-red: #f00;
    --color-medium-red: #c00;
    --color-light-red: #ff4e45;
    --color-red-30: #ff8983;
    --color-red-70: #990412;
    --color-pale-blue: #f2f8ff;
    --color-light-blue: #3ea6ff;
    --color-light-blue-header: #a1d3ff;
    --color-dark-blue: #065fd4;
    --color-navy-blue: #252a3a;
    --color-light-green: #2ba640;
    --color-dark-green: #107516;
    --color-yellow: #fbc02d;
    --color-black-pure-alpha-5: #0000000d;
    --color-black-pure-alpha-10: #0000001a;
    --color-black-pure-alpha-15: rgba(0, 0, 0, 0.15);
    --color-black-pure-alpha-30: rgba(0, 0, 0, 0.3);
    --color-black-pure-alpha-60: rgba(0, 0, 0, 0.6);
    --color-black-pure-alpha-80: rgba(0, 0, 0, 0.8);
    --color-black-1-alpha-98: rgba(40, 40, 40, 0.98);
    --color-black-1-alpha-95: rgba(40, 40, 40, 0.95);
    --color-white-1-alpha-10: rgba(255, 255, 255, 0.1);
    --color-white-1-alpha-20: rgba(255, 255, 255, 0.2);
    --color-white-1-alpha-25: rgba(255, 255, 255, 0.25);
    --color-white-1-alpha-30: rgba(255, 255, 255, 0.3);
    --color-white-1-alpha-70: rgba(255, 255, 255, 0.7);
    --color-white-1-alpha-95: rgba(255, 255, 255, 0.95);
    --color-white-1-alpha-98: rgba(255, 255, 255, 0.98);
    --color-medium-red-alpha-90: rgba(204, 0, 0, 0.9);
    --color-medium-red-alpha-30: rgba(204, 0, 0, 0.3);
    --color-light-red-alpha-30: rgba(255, 78, 69, 0.3);
    --color-light-blue-alpha-30: rgba(62, 166, 255, 0.3);
    --color-dark-blue-alpha-30: rgba(6, 95, 212, 0.3);
    --color-line: #333334;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    height: 100dvh;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    background: midnightblue;
    border-radius: 7px;
    border: 2px solid midnightblue;
}

header.box__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    padding: 0 1.5rem;
    border-bottom: 1px solid #1111;
    box-shadow: 0 2px 4px #3333;
    background-color: #EEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    z-index: 1000;
}

header.box__header ul {
    list-style-type: none;
}

header.box__header a,
abbr {
    text-decoration: none;
}

.box__header__embrace {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.box__header__logo {
    position: relative;
    width: 3rem;
    height: 3rem;
}

.box__header__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box__header__title {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.box__header__title li {
    cursor: pointer;
    user-select: none;
    color: black;
}

.box__header__title .box__header__title--hover {
    position: relative;
    width: 3rem;
    padding: 1rem .5rem;
    /* border: 1px solid; */
    border-radius: 3px;
    color: black;
}

.box__header__title .box__header__title--hover i {
    transition: all .3s;
}

.box__header__title li:hover .box__header__title--hover i {
    transform: rotate(-180deg);
}

.box__header__title li {
    position: relative;
}

.box__header__title .more {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 3rem;
    background-color: #FFF;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1000;
}

.box__header__title li:hover .more {
    display: block;
    transition: all .3s;
}

.box__header__title li:hover .more::before {
    content: '';
    position: absolute;
    top: -1rem;
    height: 1rem;
    width: 100%;
}

.box__header__title .more ul {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.box__header__title .more li {
    position: relative;
}

.box__header__title .more .option:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.box__header__title .more .option:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.box__header__title .more .option {
    width: 100%;
    padding: .5rem 2rem;
    color: black;
    text-decoration: none;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
    transition: all .2s;
}

.box__header__title .more .option:hover {
    background-color: #f0f0f0;
}


@media (max-width: 700px) {
    .box__header__title {
        display: none;
    }
}



.box__header__login {
    position: relative;
}

.box__header__login a {
    padding: .5rem .5rem;
    color: black;
    font-size: 1rem;
    transition: all .3s;
}


.box__header__login a:hover {
    text-decoration: underline;
}

/* ---------------------section-------------------- */
#section__introduce {
    position: relative;
    inset: 4rem 0 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

#section__introduce .test {
    position: relative;
    width: 100%;
    min-height: calc(100dvh - 4rem);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
}

#section__introduce #roll_up {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--color-black-pure-alpha-30);
    border-radius: 50%;
    background-color: #FFEA;
    backdrop-filter: blur(3px);
    box-shadow: 1px 2px 4px #2224;
    display: none;
    justify-content: center;
    align-items: center;
    color: var(--color-navy-blue);
    font-size: 2rem;
    cursor: pointer;
    z-index: 100%;
    transition: all .3s;
}

#section__introduce #roll_up.active {
    display: flex;
}

#section__introduce #roll_up:hover {
    background-color: #FFE5;
}

/* ===================page1================ */
/* ----------------header--------------- */
.box_home_header {
    position: relative;
    width: 100%;
    height: calc(100dvh - 4rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
    user-select: none;
}

.box_home_header::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 200px;
    height: 200px;
    background-image: url('../img/SVG/flower.svg');
    z-index: -1;
}

.box_home_header::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
    background-image: url('../img/SVG/flower.svg');
    transform: scaleX(-1);
    z-index: -1;
}

.box_home_header .box_home_text {
    position: relative;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    font-family: K2D;
    color: var(--color-black-1);
}

.box_home_header .box_home_text h1 {
    font-size: 1.4rem;
}

.box_home_header .box_home_text p {
    text-align: center;
}

.box_home_header .box_home_img {
    position: relative;
    width: 20rem;
    height: 15rem;
    border: 1px solid var(--color-black-pure-alpha-15);
    border-radius: 6px;
    box-shadow: 1px 2px 2px #2223;
    overflow: hidden;
}

.box_home_header .box_home_img .image {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box_home_header .box_home_img .image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    will-change: transform;
    transition: transform .3s linear;
}



@media (min-width: 1024px) {
    .box_home_header .box_home_text {
        width: 30rem;
    }

    .box_home_header .box_home_img {
        width: 30rem;
        height: 20rem;
    }
}

@media (min-width: 1800px) {
    .box_home_header .box_home_text {
        width: 50rem;
    }

    .box_home_header .box_home_text h1 {
        font-size: 3rem;
    }

    .box_home_header .box_home_text p {
        font-size: 2rem;
    }

    .box_home_header .box_home_img {
        width: 45rem;
        height: 30rem;
    }
}

@media (max-width: 700px) {
    .box_home_header::before {
        width: 100px;
        height: 100px;
    }

    .box_home_header::after {
        width: 100px;
        height: 100px;
    }

    .box_home_header {
        gap: 7rem;
    }

    .box_home_header {
        flex-direction: column;
    }
}



/* -------------------footer----------- */

.box_home_footer {
    position: relative;
    width: 100%;
    height: 70dvh;
    /* margin-top: 1em; */
    background: #222843;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Roboto;
    color: var(--color-white-2);
}

.box_home_footer::before {
    content: '';
    position: absolute;
    top: -3rem;
    left: 0;
    width: 100%;
    height: 3rem;
    background: linear-gradient(transparent, #222843);
}

.box_home_text_footer {
    position: relative;
    top: 0;
    width: 80%;
    height: 30dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .2rem;
    text-align: center;
}

.box_home_info_footer {
    position: relative;
    width: 90%;
    display: flex;
    margin: auto 0;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 2rem;
}

.box_home_info_footer::before {
    content: '';
    position: absolute;
    width: 100%;
    top: -3rem;
    border-top: 2px solid var(--color-white-2);
}

.box_home_info_footer h2 {
    font-size: 1.2rem;
}

.box_home_info-left {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.box_home_info-right {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.box_home_end {
    position: relative;
    width: 100%;
    padding: 4px;
    font-size: .8rem;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
}

/* =====================page2==================== */

.gt_kcn-kt {
    position: relative;
    width: 100%;
    padding: 3rem;
    background-color: #b4e1f6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    font-family: K2d;
}

.gt_kcn-kt h1 {
    position: relative;
    font-size: 2rem;

}

.gt_kcn-kt div {
    position: relative;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    text-align: justify;
}

@media (max-width: 700px) {

    .gt_kcn-kt {
        gap: 1rem;
    }

    .gt_kcn-kt h1 {
        font-size: 1.4rem;
    }

    .gt_kcn-kt div {
        font-size: 1rem;
    }
}

/* ===================page3================ */

.nganh {
    position: relative;
    width: 100%;
    padding: 3rem;
    background-color: #b4e1f6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    font-family: K2D;
}

.nganh .page--title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
}

.nganh .page--document {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    text-align: justify;
    font-size: 1.4rem;
}

.page.nganh.nganhEnd {
    padding-bottom: 6rem;
}


@media (max-width: 700px) {
    .nganh {
        gap: 1rem;
    }
    .nganh .page--title {
        font-size: 1rem;
    }

    .nganh .page--document {
        font-size: 1rem;
    }
}