#box_table {
    --color-red-light: rgba(255, 99, 132, 0.3);
    --color-green-light: rgba(75, 192, 192, 0.3);
    --color-blue-light: rgba(54, 162, 235, 0.3);
    --color-orange-light: rgba(255, 159, 64, 0.3);
    --color-yellow-light: rgba(255, 205, 86, 0.3);
    --color-violet-light: rgba(153, 102, 255, 0.3);
    --color-gray-light: rgba(201, 203, 207, 0.3);

    --color-red: rgba(255, 99, 132);
    --color-green: rgba(75, 192, 192);
    --color-blue: rgba(54, 162, 235);
    --color-orange: rgba(255, 159, 64);
    --color-yellow: rgba(255, 205, 86);
    --color-violet: rgba(153, 102, 255);
    --color-gray: rgba(201, 203, 207);
}

#box_table {
    width: 100%;
    max-height: calc(100dvh - 4rem - 20px);
    /* border: 1px solid; */
    overflow: hidden;
    overflow-y: auto;
    box-shadow: 0 0 4px 2px #3333;
}

#content_table {
    border-collapse: collapse;
    font-size: 1rem;
    min-width: 350px;
    width: 100%;
    max-width: 100%;
}

#content_table caption {
    position: sticky;
    background-color: aliceblue;
    top: 0;
    padding: 0.7rem;
    font-family: roboto_both;
    font-size: 1.2rem;
    z-index: 1;
}

#content_table thead tr {
    background-color: #94d3dc;
    color: #111;
    text-align: left;
    font-weight: bold;
    font-family: Roboto_both;
}

#content_table thead tr th:first-of-type {
    border-radius: 0.5rem 0 0 0;
}

#content_table thead tr th:last-of-type {
    border-radius: 0 0.5rem 0 0;
}

#content_table thead {
    position: sticky;
    top: 2.8rem;
    z-index: 1;
}

#content_table th,
#content_table td {
    padding: 0.8rem 1rem;
}

#content_table tbody tr {
    border-bottom: 1px solid #2224;
    font-family: Roboto;
}

#content_table tbody tr:nth-of-type(even) {
    background-color: #f8f8f8;
}

#content_table tbody tr:last-of-type {
    border-bottom: 2px solid #94d3dc;
}

#content_table th {
    cursor: pointer;
    z-index: 1;
}

#content_table td span {
    display: none;
}

#content_table .th-sort-asc::after {
    content: '\25be';
}

#content_table .th-sort-desc::after {
    content: '\25b4';
}

#content_table .th-sort-asc::after,
#content_table .th-sort-desc::after {
    margin-left: .4rem;
}

#content_table .th-sort-asc,
#content_table .th-sort-desc {
    background: rgba(0, 0, 0, 0.01);
}

@media (max-width: 700px) {
    th {
        display: none;
    }

    #content_table td {
        display: grid;
        gap: .5rem;
        grid-template-columns: 15ch auto;
        padding: .5rem 1rem;
    }

    #content_table td:first-child {
        padding-top: 2rem;
    }

    #content_table td:last-child {
        padding-bottom: 2rem;
    }

    #content_table td span {
        display: block;
        font-weight: 600;
        text-transform: capitalize;
    }
}

#table-function {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    z-index: 0;
}

#table-function button {
    position: relative;
    aspect-ratio: 1/1;
    border: 1px solid;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#table-function button#btnEdit {
    background: var(--color-green-light);
    color: var(--color-green);
}
#table-function button#btnDel {
    background-color: var(--color-red-light);
    color: var(--color-red);
}
#table-function button#btnSave {
    background-color: var(--color-blue-light);
    color: var(--color-blue);
}

#table-function button:hover {
    filter: opacity(.8);
    transition: filter .2s ease-in-out;
}

#table-function button i {
    position: relative;
    font-size: 1.2rem;
    padding: 2px;
}