:root {
  --bg-light: #f8f9fa;
  --bg-dark: #121212;
  --text-light: #212529;
  --text-dark: #e0e0e0;
  --primary-light: #007bff;
  --primary-dark: #1e90ff;

  /* Độ trong suốt cho light mode */
  --light-5: rgba(248, 249, 250, 0.05);
  --light-10: rgba(248, 249, 250, 0.1);
  --light-30: rgba(248, 249, 250, 0.3);
  --light-60: rgba(248, 249, 250, 0.6);
  --light-100: rgba(248, 249, 250, 1);

  /* Độ trong suốt cho dark mode */
  --dark-5: rgba(18, 18, 18, 0.05);
  --dark-10: rgba(18, 18, 18, 0.1);
  --dark-30: rgba(18, 18, 18, 0.3);
  --dark-60: rgba(18, 18, 18, 0.6);
  --dark-100: rgba(18, 18, 18, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  min-height: 100dvh;
}

.page-container {
  position: relative;
  top: calc(4rem + 0.0625rem);
  min-width: 100%;
  min-height: calc(100dvh - 4.0625rem);
  padding: 1rem 0.375rem 0 0.375rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-height: calc(100% - 7.5rem);

  /* -------------table------------- */
  #box_table_container {
    position: relative;
    width: fit-content;
    min-width: 100%;
    min-height: 100%;
    box-shadow: 0 0 8px 2px #3333;
    border-radius: 0.1875rem;

    h2 {
      position: relative;
      width: 100%;
      text-align: center;
      margin: 0.625rem 0;
      padding: 1rem 0;
    }

    table {
      position: relative;
      width: 100%;
      border-collapse: collapse;
      font-size: 1rem;

      tr :is(th, td) {
        padding: 0.8rem 1rem;
      }

      thead {
        position: sticky;
        top: 4rem;
        z-index: 1;

        tr {
          background-color: #94d3dc;
          color: #111;
          text-align: left;
          font-weight: bold;
          font-family: Roboto_both;
          white-space: nowrap;
        }
      }

      tbody {
        position: relative;

        tr:nth-of-type(even) {
          background-color: #f8f8f8;
        }

        tr:nth-of-type(odd) {
          background-color: #ffffff;
        }

        tr:last-of-type {
          border-bottom: 4px solid #94d3dc;
        }

        tr {
          border-bottom: 1px solid #2224;
          font-family: Roboto;

          .center {
            text-align: center;
          }

          .lect {
            text-align: left;
          }

          .inputAdd {
            position: relative;
            width: 100%;
            padding: 0.375rem 0.1875rem;
            outline: none;
            border: none;
            border-bottom: 1px solid;
          }
          button {
            position: relative;
            width: 100%;
            padding: 0.375rem 0.1875rem;
            outline: none;
            border: 1px solid var(--dark-10);
            border-radius: 0.375rem;
          }
        }
      }
    }
  }
}
