#smooth-wrapper {
  position: relative;
  height: 100%;
  min-height: calc(100dvh - 4.0625rem);
  overflow: hidden;
  position: fixed;
}

#smooth-content {
  position: relative;
  will-change: transform;
}

.home-container {
  position: relative;
  width: 100%;
  top: calc(4rem + 0.0625rem);
  min-height: 100dvh;
  padding: 0 0rem 0rem;

  .panel.frame {
    position: relative;
    /* min-height: calc(100dvh - 4.0625rem); */
  }
}

@keyframes isActive {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px) scale(var(--scale, 1)) rotate(var(--rotate, 0deg));
  }
  20% {
    opacity: 1;
  }
  50% {
    transform: translateY(-20px) scale(var(--scale, 1)) rotate(var(--rotate, 0deg));
  }
  100% {
    transform: translateY(0px) scale(var(--scale, 1)) rotate(var(--rotate, 0deg));
  }
}

.home-introduction {
  position: relative;
  width: 100%;
  height: calc(100dvh - 4rem);
  padding: 0.625rem;
  overflow-x: clip;
  display: flex;
  font-family: "k2d", sans-serif;

  .bg-introduction {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--dark-5);
      backdrop-filter: blur(0.625rem);
      display: flex;
      z-index: 1;
    }

    .bg-introduction-left {
      position: relative;
      flex: 0 0 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 0;

      span {
        position: relative;
        width: 50%;
        max-width: 600px;
        aspect-ratio: 1/1;
        border-radius: 28% 72% 27% 73% / 62% 29% 71% 38%;
        background: rgba(110, 183, 110, 0.289);
        filter: blur(70px);
        background: rgba(100, 160, 213, 0.463);
      }
    }

    .bg-introduction-right {
      position: relative;
      flex: 0 0 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 0;

      span {
        position: relative;
        transform: scale(1.3);
        width: 100%;
        max-width: 600px;
        aspect-ratio: 1/1;
        border-radius: 28% 72% 27% 73% / 62% 29% 71% 38%;
        filter: blur(100px);
        background: rgba(110, 183, 110, 0.289);
      }
    }
  }

  .floating-items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;

    .item {
      position: absolute;
      aspect-ratio: 1/1;
      font-size: 1.2rem;
      background: transparent;
      padding: 10px 15px;
      border-radius: 10px;
      animation: float 6s ease-in-out infinite, isActive 1s ease-in-out forwards;
      opacity: 0;
      animation-fill-mode: forwards;
    }

    /* Vị trí và độ trễ */
    .delay-1 {
      top: 20%;
      left: 10%;
      animation-delay: 0.5s;
      filter: blur(0.9px);
    }
    .delay-2 {
      top: 30%;
      left: 80%;
      animation-delay: 1s;
      filter: blur(2px);
    }
    .delay-3 {
      top: 65%;
      left: 20%;
      animation-delay: 1.5s;
    }
    .delay-4 {
      top: 20%;
      left: 50%;
      animation-delay: 2s;
    }
    .delay-5 {
      top: 70%;
      left: 75%;
      animation-delay: 2.5s;
    }
    .delay-6 {
      top: 80%;
      left: 40%;
      animation-delay: 3s;
      filter: blur(1px);
    }
  }

  .home-introduction-title {
    position: relative;
    flex: 0 0 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: 1024px) {
      & {
        font-size: 1.9rem;
      }
    }
    @media (max-width: 726px) {
      & {
        font-size: 1.2rem;
      }
    }
    @media (min-width: 1024px) {
      & {
        font-size: 2.5rem;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span {
      background: linear-gradient(
        90deg,
        #0057ff,
        #17985a,
        #a19515,
        #b1194c,
        #0057ff
      );
      background-size: 300% auto;
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: gradient-move 1s cubic-bezier(0.77, 0, 0.175, 1) infinite
        alternate;
      filter: contrast(1.4) brightness(1.1);
    }
  }

  @keyframes gradient-move {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  @keyframes hue-rotate {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }

  .home-introduction-show {
    position: relative;
    flex: 0 0 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    .box-introduction-show {
      position: relative;
      width: 100%;
      max-width: 500px;
      aspect-ratio: 1/1;
      display: block;
      border: 1px solid var(--dark-5);
      border-radius: 32% 68% 45% 55% / 49% 24% 76% 51%;
    }
  }
}

.home-body {
  position: relative;
  width: min(100%, 1024px);
  left: 50%;
  transform: translateX(-50%);
  /* margin: 1rem 0; */
  padding: 1rem 0 0 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  h2,
  h3,
  p {
    position: relative;
    text-align: center;
    margin: 0.625rem;
  }

  .home-body-listNote {
    position: relative;
    width: 100%;
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: start;
    align-items: stretch;
    flex-wrap: wrap;

    @media (max-width: 1024px) {
      .listNode-child {
        flex: 0 0 50%;
      }
    }

    @media (min-width: 1025px) {
      .listNode-child {
        flex: 0 0 25%;
      }
    }

    .listNode-child {
      position: relative;
      padding: 0.625rem;

      .box-listNode-child {
        position: relative;
        width: 100%;
        min-height: 100%;
        padding: 1rem;
        border: 1px solid var(--dark-10);
        border-radius: 0.625rem;
        background: #fff;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
      }
    }
  }
}

.home-body.nganh {
  position: relative;
  width: min(100%, 1024px);
  left: 50%;
  margin: 2rem 0;
  transform: translateX(-50%);
  /* margin: 1rem 0; */
  padding: 1rem 0 0 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  h2,
  h3,
  p {
    position: relative;
    text-align: center;
    margin: 0.625rem;
  }

  .home-body-listNote {
    position: relative;
    width: 100%;
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: start;
    align-items: stretch;
    flex-wrap: wrap;

    @media (max-width: 1024px) {
      .listNode-child {
        flex: 0 0 100%;
      }
    }

    @media (min-width: 1025px) {
      .listNode-child {
        flex: 0 0 33.3%;
      }
    }

    .listNode-child {
      position: relative;
      padding: 0.375rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .box-listNode-child {
        position: relative;
        width: 100%;
        max-width: 30rem;
        min-height: 100%;
        padding: 1rem 2rem 4.5rem 2rem;
        text-align: justify;
        border: 1px solid var(--dark-10);
        border-radius: 0.625rem;
        background: #fff;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

        button {
          position: absolute;
          bottom: 1rem;
          left: 50%;
          transform: translateX(-50%);
          margin-top: 1rem;
          padding: 0.625rem 1.25rem;
          border: 1px solid var(--dark-5);
          border-radius: 1.25rem;
          color: #eee;
          background: var(--primary);
          text-decoration: none;
          cursor: pointer;
          user-select: none;

          &:hover {
            background: var(--hover-primary);
          }
        }
      }
    }
  }
}
/* 
.home-info {
    position: relative;
    width: 100%;
    height: 100%;
}

.home-introduction .home-introduction-title {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    color: var(--text-dark);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8),
        -2px -2px 4px rgba(200, 200, 200, 0.8);
    transform: perspective(100px) translateZ(1px);
    z-index: 10;
}

@keyframes fly_in {
    from {
        opacity: 0;
        transform: translateY(30%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.home-introduction .home-introduction-title h1:first-child {
    position: relative;
    opacity: 0;
    animation: fly_in 0.5s 1s ease-in-out forwards;
}

.home-introduction .home-introduction-title h1:last-child {
    position: relative;
    opacity: 0;
    animation: fly_in 0.5s 1.2s ease-in-out forwards;
}

@keyframes zoom_in {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.02);
    }
}

.home-introduction .home-introduction-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 100%;
    animation: zoom_in 9s linear forwards;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    z-index: -1;
}

.home-introduction .home-introduction-img.active {
    opacity: 1;
}

@media (max-width: 1024px) {
    @keyframes revealing {
        from {
            left: 90%;
        }
        to {
            left: -15%;
        }
    }
}

.box-test {
    position: relative;
    margin: 2rem 2rem 20rem 2rem;
    padding: 1rem;
    width: 20rem;
    height: 10rem;
    border: 1px solid red;
} */

/* --------------home-footer-------------- */

.home-footer {
  position: relative;
  width: 100%;
  padding: 5rem;
  background-size: cover;
  background-position: center;
  color: var(--text-dark);
}

.home-footer ul {
  list-style: none;
}

.home-footer li {
  margin-bottom: 0.5rem;
}

.home-footer li span {
  margin-right: 0.3rem;
}

.home-footer .home-footer-head {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.home-footer .home-footer-head ul {
  position: relative;
  flex: 0 0 50%;
}

.home-footer .home-footer-head div {
  position: relative;
  margin-top: calc(9rem);
  flex: 0 0 50%;
}

.home-footer .home-footer-head div span {
  position: relative;
  margin-bottom: 1rem;
  display: inline-block;
}

.home-footer .home-footer-head div span::before {
  content: "";
  position: absolute;
  left: 0.375rem;
  bottom: -0.375rem;
  display: inline-block;
  width: 5rem;
  height: 0.125rem;
  background: #e50a0a;
}

/* -------box khoa------- */

@keyframes right-to-left {
  from {
    transform: scale(0.9) translateX(calc(100% + 3rem));
  }
  to {
    transform: scale(1) translateX(0);
  }
}

@keyframes left-to-right {
  from {
    transform: scale(0.9) translateX(calc(-100% - 3rem));
  }
  to {
    transform: scale(1) translateX(0);
  }
}

.home-show-khoa {
  position: relative;
  width: 100%;
  min-height: 1rem;
  padding: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.625rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  overflow-x: clip;

  .box-khoa {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    border: 1px solid var(--dark-10);
    border-radius: 0.375rem;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 0.625rem;
    box-shadow: 1px 1px 2px var(--dark-10), -1px -1px 2px var(--light-30);
    /* animation: right-to-left 0.5s 0.3s linear; */
    animation-timeline: view();
    animation-fill-mode: both;
    animation-range: entry 0% cover 40%;

    .box-khoa-info {
      position: relative;
      flex: 0 0 40%;
      height: 100%;
      /* border: 1px solid; */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2rem;

      .box-khoa-logo {
        position: relative;
        min-width: 80%;
        aspect-ratio: 1/1;
        border: 1px solid var(--dark-5);
        border-radius: 50%;
        background: var(--dark-10);
        box-shadow: 1px 1px 2px var(--dark-10), -1px -1px 2px var(--light-30);
      }

      .box-khoa-more {
        position: relative;
        min-width: 2rem;
        padding: 0.625rem 1.25rem;
        border: 1px solid var(--dark-5);
        border-radius: 1.25rem;
        color: #eee;
        background: var(--dark-100);
        text-decoration: none;
        cursor: pointer;
        user-select: none;
      }
    }

    .box-khoa-description0 {
      position: relative;
      flex: 0 0 calc((60% - 0.675rem));
      padding: 2rem 2rem 2rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;

      h2 {
        margin-top: 1rem;
      }

      p {
        position: relative;
        text-align: justify;
      }
    }

    .box-khoa-description1 {
      position: relative;
      flex: 0 0 calc((60% - 0.675rem));
      padding: 2rem 0 2rem 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;

      h2 {
        margin-top: 1rem;
      }

      p {
        position: relative;
        text-align: justify;
      }
    }
  }
}
